<html>
<head>
<title>Social Media Crawler</title>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/ng-table/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table/bundles/ng-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css">
body{
	font-family:sans-serif;
	paddding:1px;
}

</style>

<script th:inline="javascript">
var app = angular.module("processList", ["ngTable", "ngResource"]);
(function() {

  app.controller("processListCtr", processListCtr);
  processListCtr.$inject = ["NgTableParams", "$resource", "$http", "$filter"];
  
  app.factory('getTailLog', function($http) {
    return function(crawlid){
        return $http({
            method: 'GET',
            url: 'http://www.domain.it/page.php',
            params: {crawlid:crawlid}
         });
    }
}) 

  function processListCtr(NgTableParams, $resource, $http, $filter) {
    // tip: to debug, open chrome dev tools and uncomment the following line 
    //debugger;
  
	var root = this;
    
	root.tableParams = new NgTableParams({
		sorting: {
	    		status: 'desc',
	    		crawlId: 'desc'
	            
	        }
		
	}, {
      getData: function(params) {
        // ajax request to api
    	  return $http.get("/getprocesslist")
		  .then(function(response) {
		    var data = response.data;
		    return params.sorting() ?
                    $filter('orderBy')(data, params.orderBy()) : data;
                 
		  });
      }
    });

    setInterval(function(){
	  root.tableParams.reload();
	}, 5000);

  }
  
  app.directive('tkrLatestLog', ['$http', function($http) {
	  return {
	  	scope: {
	      crawlid: '@',
	      crawlquery: '@'
	    },
	    controller:function($scope){
	        console.info("enter directive controller");
	        $scope.text = "";
	         console.log("/gettaillog?crawlid=" + $scope.crawlid + "-" + $scope.crawlquery)
	          
	        $http.get("/gettaillog?crawlid=" + $scope.crawlid + "-" + $scope.crawlquery).success(function(data){
	           console.log("got data" + data.value);
	           $scope.text = data.value;
	        });
	    },
	    template: "<span style='font-size:0.7em'>{{text}}</span>"
	  };
	}]);
	
	app.directive('tkrErrorLog', ['$http', function($http) {
	  return {
	  	scope: {
	      crawlid: '@',
	      crawlquery: '@'
	    },
	    controller:function($scope){
	        console.info("enter directive controller");
	        $scope.error = "";
	         console.log("/geterrorlog?crawlid=" + $scope.crawlid + "-" + $scope.crawlquery)
	          
	        $http.get("/geterrorlog?crawlid=" + $scope.crawlid + "-" + $scope.crawlquery).success(function(data){
	           console.log("got data" + data.value);
	           $scope.error = data.value;
	        });
	    },
	    template:"<a style='font-size:0.8em; color:red' ng-if='error' href='javascript:void(0)'>View error</a>",
	    link: function(scope, elem, attrs) {
	    	elem.bind('click', function() {
	            alert(scope.error);
	        });
	    }
	  };
	}]);
})();
</script>
</head>

<body>

<div ng-app="processList" ng-controller="processListCtr as procList">

<h1>Query Process List</h1>


<div id="process-alert" th:if="${message}" class="alert alert-success alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span th:text="${message}"></span>
  <script style="text/javascript">
  	$("#process-alert").delay(8000).fadeOut(1000);
  </script>
</div>


<form method="post" action="/runcrawlerapp">
<fieldset>
Keyword: <input type="text" name="keyword" />
&nbsp;
Search in: &nbsp;
<select name="searchOption">
	<option value="FB">Facebook</option>
	<option value="TW">Twitter</option>
	<option value="YT">Youtube</option>
	<option value="GP">Google +</option>
	<option value="AL">All</option>
</select>
&nbsp;
<input type="submit" value="Create Search process"/>
</fieldset>
</form>

<br/>

<table ng-table="procList.tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">

<thead>
	<th>Crawl Process Id</th>
	<th>Search Term</th>
	<th>Social Media API used</th>
	<th>Elapsed Time</th>
	<th>Status</th>
	<th>Latest log</th>
	<th></th>
</thead>

<tbody>
 
 	 <tr ng-repeat="item in $data">
        <td title="'crawlId'" filter="{ crawlId 'text'}" sortable="'crawlId'">{{item.crawlId}}</td>
		<td title="'searchTerm'" filter="{ searchTerm 'text'}" sortable="'searchTerm'">{{item.searchTerm}}</td>
		<td title="'searchOption'" filter="{ searchOption 'text'}" sortable="'searchOption'"><img ng-src="images/{{item.searchAbbr}}.png"/>{{item.searchOption}}</td>
		<td title="'startDate'" filter="{ startDate 'text'}" sortable="'startDate'">{{item.startDate}}</td>
		<td title="'status'" filter="{ status 'text'}" sortable="'status'">{{item.status}}
			<tkr-error-log crawlid="{{item.crawlId}}" crawlquery="{{item.searchTerm}}"></tkr-error-log>
		</td>
		<td title="'latestLog'">
			<span ng-hide="item.status=='Done'">
				<tkr-latest-log crawlid="{{item.crawlId}}" crawlquery="{{item.searchTerm}}"></tkr-latest-log>
			</span>
		</td>
		<td> <a target="_blank" href="/getdatafromfile?crawlid={{item.crawlId}}-{{item.searchTerm}}">View Data</a> </td>
    </tr>

</tbody>

</table>

</div><!-- end wrap controller -->
<script>

</script>
</body>
</html>